<%- include("../../partials/header.ejs") %> 
<%- include("../../partials/navbar.ejs") %> 

<div class="container">
  <hr>
  <div class="card mt-5" style="width:400px;height:400px; margin: 0 auto;">
    <div class="card-header" style="text-align:center;">
      <h2>Criar conta</h2>

    </div>

    <div class="card-body">
      <form method="post" action="/users/create">
        <input class = "form-control" name="email" type="text" placeholder="email@exemplo.com"/><br>
        <input class = "form-control" name="password" type="password"  placeholder="******"/>
        <br>
        <button type ="submit"class = "btn btn-success btn-block">Cadastrar</button>
      </form>

    </div>
  </div>
</div>

<%- include("../../partials/footer.ejs") %> 
